/*Layout*/

body { background: #63b362;}
.page { position: relative; width: 900px; margin: 0 auto; padding: 50px 1.5em; text-align: left;}

.page{
	border: 1px solid
	#63b362;border-radius: 40px;
	 padding: 0 1.5em;
	}
#header{
	height:auto;
	margin-top:0px;
	text-align:center;
}

.hornav {
    background-color: transparent;
    border-left: 0px;
    border-right:0px;
}

/*Fonts*/

@font-face {
    font-family: 'GoodDogRegular';
    src: url('GoodDog-webfont.eot');
    src: url('GoodDog-webfont.eot?#iefix') format('embedded-opentype'),
         url('GoodDog-webfont.woff') format('woff'),
         url('GoodDog-webfont.ttf') format('truetype'),
         url('GoodDog-webfont.svg#GoodDogRegular') format('svg');
    font-style: normal;

}


/*typo su site*/

body,h1,h2,h3,h4,h5,h6,.h1,.h2,.h3,.h4,.h5,.h6 { font-family: 'GoodDogRegular', Arial, sans-serif;color: #63b362 }

/* Titraille / Intertitres */

#nom_site_spip{
	font-size:8em; 
	text-align: center;
	line-height:100px;
	
}

#slogan_site_spip{
	font-size:3em; 
}


h1, .h1{
	font-size: 2em ;
	
}

/*Liens*/
a {
    color: #63b362;
    text-decoration: none;
}

/*Menus*/
#nav li{
	display:inline;
	margin:0 5px;
	
}
#nav ul{
	margin-top:0px;
	
}

.menu-items {
    border-bottom: 0px ;

}


